version: '3.8'

services:
  redis:
    image: redis:alpine
    container_name: redis
    command: ["redis-server", "--appendonly", "yes", "--requirepass", "redis1234"]
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - schedule_network
  rabbitmq:
    image: rabbitmq:4-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - schedule_network
  mongo:
    image: mongo:8.0.13
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongo
      MONGO_INITDB_ROOT_PASSWORD: mongo
    volumes:
      - mongo_data:/data/db
      - ./mongo/init-mongodb.js:/docker-entrypoint-initdb.d/init-mongodb.js:ro
    networks:
      - schedule_network
  postgres:
    image: postgres:latest
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./postgres/init/init.auth.sql:/docker-entrypoint-initdb.d/init.auth.sql:ro
    networks:
      - schedule_network

networks:
  schedule_network:
    driver: bridge

volumes:
  redis-data:
  mongo_data:
