version: '3.8'

services:
  redis:
    image: redis:alpine
    container_name: redis
    command: ["redis-server", "--appendonly", "yes", "--requirepass", "redis1234"]
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - schedule_network
  rabbitmq:
    image: rabbitmq:4-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - schedule_network
  mongo:
    image: mongo:latest
    container_name: mongodb
    restart: unless-stopped
    command:
      - mongod
      - --replSet
      - rs0
      - --auth
      - --keyFile
      - /data/configdb/mongo-keyfile
      - --bind_ip_all
    volumes:
      - mongo_data:/data/db
      - mongo_config:/data/configdb
      - ./mongo/keyFile/mongo-keyfile:/data/configdb/mongo-keyfile
      - ./mongo/01-init-replica.js:/docker-entrypoint-initdb.d/01-init-replica.js:ro
      - ./mongo/02-init-users.js:/docker-entrypoint-initdb.d/02-init-users.js:ro
    ports:
      - "27017:27017"
    networks:
      - schedule_network

  postgres:
    image: postgres:latest
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./postgres/init/init.auth.sql:/docker-entrypoint-initdb.d/init.auth.sql:ro
    networks:
      - schedule_network

networks:
  schedule_network:
    driver: bridge

volumes:
  redis-data:
  mongo_data:
  mongo_config:
